<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BB_PATH" value="C:\Program Files (x86)\BrokenBot\BrokenBot.exe"/>
    <add key="BB_START_BUTTON_ID" value="BtnStart"/>
    <add key="APPS_PRIORITY" value="High"/>
    <add key="WAIT_INTERVAL" value="300"/>
    <add key="BB_STARTUP_INTERVAL" value="15"/>
  </appSettings>
</configuration>